<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<?eclipse version="3.4"?>
<plugin>
    <!-- APIM project nature -->
    <extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.apim.project.nature" name="APIM Project Nature">
        <runtime>
            <run class="org.wso2.developerstudio.eclipse.apiled.integration.project.export.ApimProjectNature"/>
        </runtime>
    </extension>
	
    <extension point="org.eclipse.ui.ide.projectNatureImages">
        <image id="org.wso2.developerstudio.eclipse.apim.project.natureImage" 
		natureId="org.wso2.developerstudio.eclipse.apim.project.nature" icon="icons/apim_project.png" />
    </extension>
    
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.wso2.developerstudio.eclipse.apiled.integration.utils.Handler"
            id="org.wso2.developerstudio.eclipse.apim.commands.toolbar.Configure"
            name="Hello">
      </command>
   </extension>
    
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.vogella.rcp.intro.commands.toolbar.toolbar1">
            <command
                  commandId="org.wso2.developerstudio.eclipse.apim.commands.toolbar.Configure"
                  icon="icons/apim_project.gif"
                  label="Say Hello"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
  </extension>
</plugin>
